# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules
build
.next/
.DS_Store
.idea/

dist/
*.iml
webpack-assets.json
webpack-stats.json
npm-debug.log
